body{
    background-color: rgb(202, 224, 250);
}
nav{
    background-color: beige;
    width: 1350px;
    height: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
fieldset{
    width: 500px;
}
select{
    width: 500px;
}